doctype html
head
    meta(charset='utf-8')
    title 直播聚合
    meta(name='title' content='最实用的直播聚合')
    meta(name='description' content='找视频, 来直播聚合')
    link(rel='stylesheet' href='/style.css')
body
    #main
        .inner
            block content
