doctype html
head
    meta(charset='utf-8')
    title 聚直播 - 最全的直播聚合, 直播排行
    meta(name='title' content='最实用的直播聚合, 直播排行')
    meta(name='keywords' content='直播聚合, 直播排行, 游戏直播, dota2直播, lol直播')
    meta(name='description' content='聚直播 - 找视频, 来直播聚合, 直播排行一目了然')
    link(rel='stylesheet' href='/style.css')
body
    header
        .inner
            h1.logo 聚直播
            h2.description juzhibo.tv 聚合热门直播, 直播排行一目了然, 精彩不再错过!
    #main
        .inner
            block content
    footer
        .inner
            p
                | Copyright © 2015
                a(href='/') 聚直播
                |  | 苏ICP备13053910号-2
    script.
        // baidu tongji
        var _hmt = _hmt || [];
        (function() {
        var hm = document.createElement("script");
        hm.src = "//hm.baidu.com/hm.js?737af2b98632091c6956e9ff289509ea";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
        })();
    script.
        // google analytics
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-48559923-3', 'auto');
        ga('send', 'pageview');
