doctype html
head
    meta(charset='utf-8')
    title 直播聚合
    meta(name='title' content='最实用的直播聚合')
    meta(name='description' content='找视频, 来直播聚合')
    link(rel='stylesheet' href='/style.css')
body
    header
        .inner
            div.logo juzhibo.tv
            div.description 聚合热门直播，精彩不再错过！~
    #main
        .inner
            block content
    footer
        .inner
            p
                | Copyright © 2015
                a(href='/') 聚直播
                |  | 苏ICP备13053910号-2
